<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<%- include('CDN/bootstrap.ejs')%>

</head>
<body>
<%- include('Navbar/CommonMenu.ejs') %>
<!-- ---------------card ----------------------------- -->
<div class="card-products">
    <div class="image_card_products">
        <img src="../Public/images/gaming-cabinet.webp">
    </div>
    <div class="text_card_product">
        name,decricption,price,catagry
    </div>
</div>
<!-- -------------------card ------------------------- -->
</body>
</html>